@import "../base/colors";

.cta {
  padding: 70px 0;

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    background-color: $cta-bgc;
    color: #fff;
  }

  &-text {
    width: 555px;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:
            url('../../images/cta/oval-bottom-left.svg') bottom left -186px no-repeat,
            url('../../images/cta/oval-top-right.svg') right top no-repeat;

    p {
      width: 320px;
    }
  }

  &-title {
    margin-bottom: 15px;
  }

  &-img {
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    background: white;
    border-radius: 0 20px 0 0;
  }

  &-buttons-row {
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
  }
}