@import "../base/colors";

.img-card {
  position: relative;
  width: 385px;

  & + & {
    margin-left: 32px;
  }

  &-img {
    border-radius: 20px 20px 0 20px;

    .img-card-rounder & {
      border-radius: 20px;
    }
  }

  &-info {
    position: absolute;
    bottom: 87px;
    right: -46px;
  }
}