@import "../base/colors";

.objects {
  padding-top: 45px;
  padding-bottom: 80px;

  &-row {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1495px) {
      justify-content: flex-end;
    }
  }

  &-text {
    flex-shrink: 0;
    padding-right: 150px;
    max-width: 693px;
    padding-left: 181px;

    p + p {
      margin-top: 20px;
    }
  }

  &-img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

  }

  &-title {
    margin-bottom: 20px;
  }

  &-button {
    margin-top: 40px;
  }
}